//--- OBJECT WRITE BEGIN ---
new SimGroup(LocationGroup) {
   new fxSunLight(LoctionFxSun) {
      AnimAzimuth = "1";
      AnimBrightness = "0";
      AnimColour = "0";
      AnimElevation = "1";
      AnimRotation = "0";
      AnimSize = "0";
      AzimuthKeys = "AZ";
      AzimuthTime = "3000";
      BlendMode = "1";
      BlueKeys = "AZA";
      Brightness = "1";
      BrightnessKeys = "AZA";
      BrightnessTime = "5";
      canSaveDynamicFields = "1";
      Colour = "0.89803928 0.89803928 0.89803928 1";
      ColourTime = "5";
      ElevationKeys = "AZ";
      ElevationTime = "3000";
      Enable = "1";
      FadeTime = "1";
      FlareSize = "1";
      FlareTP = "0";
      GreenKeys = "AZA";
      LerpAzimuth = "1";
      LerpBrightness = "1";
      LerpColour = "1";
      LerpElevation = "1";
      LerpRotation = "0";
      LerpSize = "1";
      LinkFlareSize = "0";
      LocalFlareBitmap = "";
      LockToRealSun = "0";
      MaxAzimuth = "100";
      MaxBrightness = "0";
      MaxColour = "1 1 1 1";
      MaxElevation = "300";
      MaxRotation = "359";
      MaxSize = "1";
      MinAzimuth = "100";
      MinBrightness = "0";
      MinColour = "0 0 0 1";
      MinElevation = "0";
      MinRotation = "0";
      minSize = "0.5";
      position = "0 0 0";
      RedKeys = "AZA";
      RemoteFlareBitmap = "onverse/data/live_assets/textures/skies/space/planet.png";
      rotation = "1 0 0 0";
      RotationKeys = "AZA";
      RotationTime = "5";
      scale = "1 1 1";
      SingleColourKeys = "1";
      SizeKeys = "AZA";
      SizeTime = "5";
      SunAzimuth = "20";
      SunElevation = "41.763302";
   };
   new ClientEditSky(LocationSky) {
      category="Sky";
      editorName="Sky";
      canSaveDynamicFields = "1";
      cloudHeightPer1 = "0.1";
      cloudHeightPer2 = "0.40000001";
      cloudHeightPer3 = "0.40000001";
      cloudSpeed1 = "5.9999998e-05";
      cloudSpeed2 = "3.9999999e-05";
      cloudSpeed3 = "7.9999998e-05";
      dynamicWeather = "0";
      fogColor = "0.40000001 0.58431399 0.615686 1";
      fogDistance = "200";
      fogStorm1 = "0";
      fogStorm2 = "0";
      fogStorm3 = "0";
      fogVolume1 = "0 0 0";
      fogVolume2 = "0 0 0";
      fogVolume3 = "0 0 0";
      fogVolumeColor1 = "128 128 128 0";
      fogVolumeColor2 = "128 128 128 0";
      fogVolumeColor3 = "128 128 128 0";
      materialList = "onverse/data/live_assets/textures/skies/space/sky_space.dml";
      noRenderBans = "0";
      position = "0 0 0";
      renderBottomTexture = "0";
      rotation = "1 0 0 0";
      scale = "1 1 1";
      SkySolidColor = "0.69999999 0.40000001 0.2 0";
      useSkyTextures = "1";
      visibleDistance = "600";
      windEffectPrecipitation = "0";
      windVelocity = "2 2 0";
   };
   new ClientEditSun(LoctionSun) {
      category="Sun";
      editorName="Sun";
      ambient = "0.15000001 0.15000001 0.2 1";
      azimuth = "20";
      canSaveDynamicFields = "1";
      castsShadows = "0";
      color = "0.54901999 0.50588202 0.51764703 1";
      elevation = "40";
   };
   new ClientEditTerrainBlock(LocationTerrain) {
      bumpOffset = "10";
      bumpScale = "10";
      bumpTexture = "";
      canSaveDynamicFields = "1";
      detailTexture = "onverse/data/live_assets/textures/terrain/details/ground_hi.jpg";
      emptySquares = "70137 70378 73438 106206 117711 119712 187241";
      rotation = "1 0 0 0";
      scale = "1 1 1";
      squareSize = "8";
      terrainFile = "{{ ter_file }}";
      tile = "1";
      zeroBumpScale = "5";
   };
   new SimGroup(PoiPoints) {
      canSaveDynamicFields = "1";

      new ClientEditPoiPoint() {
         canSaveDynamicFields = "1";
         position = "148.40639 -205.93079 1006.655";
         rotation = "1 0 0 0";
         PoiURLName = "spawn/main";
      };
   };
};
//--- OBJECT WRITE END ---